---
import type { PokemonList, PokemonDetails } from "../../types";
import { fetchData } from "../../util/fetchData";

const allPokemon = await fetchData<PokemonList>(
  "https://pokeapi.co/api/v2/pokemon?limit=151"
);

// get details for all 151 pokemon
const pokemonList = await Promise.all(
  allPokemon.results.map(async (pokemon) => {
    return await fetchData<PokemonDetails>(pokemon.url);
  })
);
---

<ul class="flex gap-8 flex-wrap justify-center">
  {
    pokemonList.map((pokemon) => (
      <li>
        <div class="avatar">
          <div class="w-24">
            <a href={`${pokemon.name}`}>
              <img src={pokemon.sprites.front_default} alt={pokemon.name} />
            </a>
          </div>
        </div>
        <p class="text-center">{pokemon.name}</p>
      </li>
    ))
  }
</ul>
