---
export const prerender = true;
import type { PokemonList, PokemonDetails } from "../../types";
import { fetchData } from "../../util/fetchData";
import Avatar from "../../components/Avatar.astro";
const allPokemon = await fetchData<PokemonList>(
  "https://pokeapi.co/api/v2/pokemon?limit=151"
);

// get details for all 151 pokemon
const pokemonList = await Promise.all(
  allPokemon.results.map(async (pokemon) => {
    return await fetchData<PokemonDetails>(pokemon.url);
  })
);
---

<ul class="flex gap-8 flex-wrap justify-center">
  {
    pokemonList.map((pokemon) => (
      <li>
        <Avatar pokemon={pokemon}/>
      </li>
    ))
  }
</ul>
